@font-face {
	font-family: 'Retro Gaming';
	src:
	url('./src/assets/font/retro_gaming.woff2') format('woff2'),
	url('./src/assets/font/retro_gaming.woff') format('woff'),
	url('./src/assets/font/retro_gaming.ttf') format('truetype'),
	url('./src/assets/font/retro_gaming.eot'),
	url('./src/assets/font/retro_gaming.eot?#iefix') format('embedded-opentype'),
	url('./src/assets/font/retro_gaming.svg#svgFontName') format('svg');
}

* {
	margin: 0;

	font-family: "Retro Gaming";
	user-select: none;

	color: white; /* colors.text */
}

#root {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100vh;

	overflow: hidden;
}

button {
	border: 0;

	cursor: pointer;
	
	text-decoration: none;
}

::selection {
	background-color: #83562cb3; /* colors.textSelection */
}

